# **Tarea 1**

## **Pregunta 2**

### Mar√≠a Quiroz

In [1]:
import numpy as np
import pandas as pd

In [3]:
data_dic = {'X1':[0,2,0,0,-1,1],'X2':[3,0,1,1,0,1],'X3':[0,3,2,2,1,1],'Y':['Rojo','Rojo','Rojo','Verde','Verde','Rojo']}

datos =pd.DataFrame(data_dic)
datos

   X1  X2  X3      Y
0   0   3   0   Rojo
1   2   0   3   Rojo
2   0   1   2   Rojo
3   0   1   2  Verde
4  -1   0   1  Verde
5   1   1   1   Rojo

In [ ]:
from google.colab import drive
drive.mount('/content/drive')